<!-- /*
 * Copyright (c) 2020 BlackBerry Limited. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */ -->

<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='./stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <div class="container">
    <div class="center">
      <button type="button" onclick="location.href = '/appAuthenticity';">App Authenticity IDs</button>
    </div>
  </div>
  <form name="form1" method="POST" action="/rules/save">
    <table>
      <tr>
        <td>
          <h3>Content Checker Rules</h3>
        </td>
      </tr>
      <tr>
        <td>Safe Browsing Check Type</td>
        <td>
          <select name="safeBrowsingCheckType" id="safeBrowsingCheckType">
            <option value="CLOUD" <%= (data["ContentCheckerRules"]["SafeBrowsing_CheckType"] == "CLOUD") ? "selected" : "" %> >Cloud</option>
            <option value="CHECKLIST_ONLY" <%= (data["ContentCheckerRules"]["SafeBrowsing_CheckType"] == "CHECKLIST_ONLY") ? "selected" : "" %> >Check List Only</option>
            <option value="ON_DEVICE" <%= (data["ContentCheckerRules"]["SafeBrowsing_CheckType"] == "ON_DEVICE") ? "selected" : "" %> >On Device</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Safe Messaging Check Type</td>
        <td>
          <select name="safeMessagingCheckType" id="safeMessagingCheckType">
            <option value="CLOUD" <%= (data["ContentCheckerRules"]["SafeMessaging_CheckType"] == "CLOUD") ? "selected" : "" %> >Cloud</option>
            <option value="CHECKLIST_ONLY" <%= (data["ContentCheckerRules"]["SafeMessaging_CheckType"] == "CHECKLIST_ONLY") ? "selected" : "" %> >Check List Only</option>
            <option value="ON_DEVICE" <%= (data["ContentCheckerRules"]["SafeMessaging_CheckType"] == "ON_DEVICE") ? "selected" : "" %> >On Device</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Allowed Domain URLs (comma seperated values)</td>
        <td><input type="text" name="allowedDomains" value=<%= data["ContentCheckerRules"]["AllowedDomainURLs"] %>></td>
      </tr>
      <tr>
        <td>Disallowed Domain URLs (comma seperated values)</td>
        <td><input type="text" name="disallowedDomains" value=<%= data["ContentCheckerRules"]["DisallowedDomainURLs"] %>></td>
      </tr>
      <tr>
        <td>Allowed IP Addresses (comma seperated values)</td>
        <td><input type="text" name="allowedIps" value=<%= data["ContentCheckerRules"]["AllowedIPs"] %>></td>
      </tr>
      <tr>
        <td>Disallowed IP Addresses (comma seperated values)</td>
        <td><input type="text" name="disallowedIps" value=<%= data["ContentCheckerRules"]["DisallowedIPs"] %>></td>
      </tr>
      <tr>
        <td>
          <h3>Device Security Rules</h3>
        </td>
      </tr>
      <tr>
        <td>Device Lock Screen Check Type</td>
        <td>
          <select name="deviceLockScreenCheck" id="deviceLockScreenCheck">
            <option value="Enabled" <%= (data["DeviceSecurityRules"]["DeviceLockScreen_Check"] == "Enabled") ? "selected" : "" %> >Enabled</option>
            <option value="Disabled" <%= (data["DeviceSecurityRules"]["DeviceLockScreen_Check"] == "Disabled") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Debug Detection Check Type</td>
        <td>
          <select name="debugDetectionCheck" id="debugDetectionCheck">
            <option value="Enabled" <%= (data["DeviceSecurityRules"]["DebugDetection_Check"] == "Enabled") ? "selected" : "" %> >Enabled</option>
            <option value="Disabled" <%= (data["DeviceSecurityRules"]["DebugDetection_Check"] == "Disabled") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Debug Detection Enforcement Action</td>
        <td>
          <select name="debugDetectionEnforcementAction" id="debugDetectionEnforcementAction">
            <option value="NOTIFY" <%= (data["DeviceSecurityRules"]["DebugDetection_EnforcementAction"] == "NOTIFY") ? "selected" : "" %> >Notify</option>
            <option value="TERMINATE_PROCESS" <%= (data["DeviceSecurityRules"]["DebugDetection_EnforcementAction"] == "TERMINATE_PROCESS") ? "selected" : "" %> >Terminate Process</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Jailbreak Detection Check </td>
        <td>
          <select name="jailbreakDetectionCheck" id="jailbreakDetectionCheck">
            <option value="Enabled" <%= (data["DeviceSecurityRules"]["JailbreakDetection_Check"] == "Enabled") ? "selected" : "" %> >Enabled</option>
            <option value="Disabled"<%= (data["DeviceSecurityRules"]["JailbreakDetection_Check"] == "Disabled") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Hook Detection Check </td>
        <td>
          <select name="hookDetectionCheck" id="hookDetectionCheck">
            <option value="Enabled" <%= (data["DeviceSecurityRules"]["HookDetection_Check"] == "Enabled") ? "selected" : "" %> >Enabled</option>
            <option value="Disabled" <%= (data["DeviceSecurityRules"]["HookDetection_Check"] == "Disabled") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Device Encryption Check (Android Only) </td>
        <td>
          <select name="deviceEncryptionCheck" id="deviceEncryptionCheck">
            <option value="Enabled" <%= (data["DeviceSecurityRules"]["DeviceEncryption_Check"] == "Enabled") ? "selected" : "" %> >Enabled</option>
            <option value="Disabled" <%= (data["DeviceSecurityRules"]["DeviceEncryption_Check"] == "Disabled") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Android HW Key Verify Booy Check (Android Only) </td>
        <td>
          <select name="androidHWKeyVerifyBootCheck" id="androidHWKeyVerifyBootCheck">
            <option value="Enabled" <%= (data["DeviceSecurityRules"]["AndroidHWKeyVerifyBoot_Check"] == "Enabled") ? "selected" : "" %> >Enabled</option>
            <option value="Disabled" <%= (data["DeviceSecurityRules"]["AndroidHWKeyVerifyBoot_Check"] == "Disabled") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Developer Mode Check (Android Only) </td>
        <td>
          <select name="developerModeCheck" id="developerModeCheck">
            <option value="Enabled" <%= (data["DeviceSecurityRules"]["DeveloperMode_Check"] == "Enabled") ? "selected" : "" %> >Enabled</option>
            <option value="Disabled" <%= (data["DeviceSecurityRules"]["DeveloperMode_Check"] == "Disabled") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <h3>iOS Device Software Rules</h3>
        </td>
      </tr>
      <tr>
        <td>Device OS Software Check </td>
        <td>
          <select name="iOSDeviceOSSoftwareCheck" id="iOSDeviceOSSoftwareCheck">
            <option value="Enabled" <%= (data["iOSDeviceSoftwareRules"]["DeviceOSSoftware_Check"] == "Enabled") ? "selected" : "" %> >Enabled</option>
            <option value="Disabled" <%= (data["iOSDeviceSoftwareRules"]["DeviceOSSoftware_Check"] == "Disabled") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Minimum OS Version</td>
        <td><input type="text" name="iOSMinimumOsVersion" value=<%= data["iOSDeviceSoftwareRules"]["MinimumOSVersion"] %>></td>
      </tr>
      <tr>
        <td>
          <h3>Android Device Software Rules</h3>
        </td>
      </tr>
      <tr>
        <td>Device Security Patch Software Check </td>
        <td>
          <select name="deviceSecurityPatchSoftwareCheck" id="deviceSecurityPatchSoftwareCheck">
            <option value="Enabled" <%= (data["AndroidDeviceSoftwareRules"]["DeviceSecurityPatchSoftware_Check"] == "Enabled") ? "selected" : "" %> >Enabled</option>
            <option value="Disabled" <%= (data["AndroidDeviceSoftwareRules"]["DeviceSecurityPatchSoftware_Check"] == "Disabled") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Device OS Software Check </td>
        <td>
          <select name="androidDeviceOSSoftwareCheck" id="androidDeviceOSSoftwareCheck">
            <option value="Enabled" <%= (data["AndroidDeviceSoftwareRules"]["DeviceOSSoftware_Check"] == "Enabled") ? "selected" : "" %> >Enabled</option>
            <option value="Disabled" <%= (data["AndroidDeviceSoftwareRules"]["DeviceOSSoftware_Check"] == "Disabled") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Device Manufacturer Check </td>
        <td>
          <select name="deviceManufacturerCheck" id="deviceManufacturerCheck">
            <option value="Enabled" <%= (data["AndroidDeviceSoftwareRules"]["DeviceManufacturer_Check"] == "Enabled") ? "selected" : "" %> >Enabled</option>
            <option value="Disabled" <%= (data["AndroidDeviceSoftwareRules"]["DeviceManufacturer_Check"] == "Disabled") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Device Model Check </td>
        <td>
          <select name="deviceModelCheck" id="deviceModelCheck">
            <option value="Enabled" <%= (data["AndroidDeviceSoftwareRules"]["DeviceModel_Check"] == "Enabled") ? "selected" : "" %> >Enabled</option>
            <option value="Disabled" <%= (data["AndroidDeviceSoftwareRules"]["DeviceModel_Check"] == "Disabled") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Manufacturer Deny List (comma seperated values)</td>
        <td><input type="text" name="manufacturerDenyList" value=<%= data["AndroidDeviceSoftwareRules"]["ManufacturerDenyList"] %>></td>
      </tr>
        <td>Model Deny List (comma seperated values)</td>
        <td><input type="text" name="modelDenyList" value=<%= data["AndroidDeviceSoftwareRules"]["ModelDenyList"] %>></td>
      </tr>
      <tr>
        <td>Minimum OS Version</td>
        <td><input type="text" name="androidMinimumOsVersion" value=<%= data["AndroidDeviceSoftwareRules"]["MinimumOSVersion"] %>></td>
      </tr>
      <tr>
        <td>Security Patch Minimum Date</td>
        <td><input type="text" name="securityPatchMinimumDate" value=<%= data["AndroidDeviceSoftwareRules"]["SecurityPatchMinimumDate"] %>></td>
      </tr>
		<tr>
        <td>
          <h3>Malware Scan Rules (Android Only)</h3>
        </td>
      </tr>
	<tr>
        <td>Malware Upload Type</td>
        <td>
          <select name="malwareUploadType" id="malwareUploadType">
            <option value="WIFI" <%= (data["MalwareScanRules"]["MalwareUploadType"] == "WIFI") ? "selected" : "" %> >WiFi</option>
            <option value="CELLULAR" <%= (data["MalwareScanRules"]["MalwareUploadType"] == "CELLULAR") ? "selected" : "" %> >Cellular</option>
			<option value="CELLULAR_WIFI" <%= (data["MalwareScanRules"]["MalwareUploadType"] == "CELLULAR_WIFI") ? "selected" : "" %> >Cellular and WiFi</option>
			<option value="NONE" <%= (data["MalwareScanRules"]["MalwareUploadType"] == "NONE") ? "selected" : "" %> >None</option>
          </select>
        </td>
      </tr>
	  	<tr>
        <td>Malware Upload Type</td>
        <td>
          <select name="malwareScanTrigger" id="malwareScanTrigger">
            <option value="CONTINUOUS" <%= (data["MalwareScanRules"]["MalwareScanTrigger"] == "CONTINUOUS") ? "selected" : "" %> >Continuous</option>
            <option value="INITIAL" <%= (data["MalwareScanRules"]["MalwareScanTrigger"] == "INITIAL") ? "selected" : "" %> >Initial</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>APK Upload Size Limit Over Cellular (MB)</td>
        <td><input type="text" name="malwareUploadItemSizeLimit_Cellular" value=<%= data["MalwareScanRules"]["MalwareUploadItemSizeLimit_Cellular"] %>></td>
      </tr>
      <tr>
        <td>APK Upload Size Limit Over WiFi (MB)</td>
        <td><input type="text" name="malwareUploadItemSizeLimit_WiFi" value=<%= data["MalwareScanRules"]["MalwareUploadItemSizeLimit_WiFi"] %>></td>
      </tr>	
      <tr>
        <td>Monthly Upload Size Limit Over Cellular (MB)</td>
        <td><input type="text" name="malwareUploadMonthlySizeLimit_Cellular" value=<%= data["MalwareScanRules"]["MalwareUploadMonthlySizeLimit_Cellular"] %>></td>
      </tr>	  
      <tr>
        <td>Monthly Upload Size Limit Over WiFi (MB)</td>
        <td><input type="text" name="malwareUploadMonthlySizeLimit_WiFi" value=<%= data["MalwareScanRules"]["MalwareUploadMonthlySizeLimit_WiFi"] %>></td>
      </tr>
      <tr>
        <td>Set monthly upload limit to 0 for unlimited</td>
        <td></td>
      </tr>		  
      <tr>
        <td>
          <h3>Data Collection Rules</h3>
        </td>
      </tr>
      <tr>
        <td>Data Collection</td>
        <td>
          <select name="dataCollection" id="dataCollection">
            <option value="Enabled" <%= (data["DataCollectionRules"]["DataCollectionEnabled"] == "Enabled") ? "selected" : "" %> >Enabled</option>
            <option value="Disabled" <%= (data["DataCollectionRules"]["DataCollectionEnabled"] == "Disabled") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Data Collection Upload Type</td>
        <td>
          <select name="dataCollectionUploadType" id="dataCollectionUploadType">
            <option value="WIFI_WHILE_CHARGING" <%= (data["DataCollectionRules"]["UploadType"] == "WIFI_WHILE_CHARGING") ? "selected" : "" %> >WiFi while Charging</option>
            <option value="WIFI" <%= (data["DataCollectionRules"]["UploadType"] == "WIFI") ? "selected" : "" %> >WiFi</option>
            <option value="WIFI_AND_MOBILE" <%= (data["DataCollectionRules"]["UploadType"] == "WIFI_AND_MOBILE") ? "selected" : "" %> >WiFi and Mobile</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Data Collection Upload Limit</td>
        <td>
          <select name="dataCollectionUploadLimit" id="dataCollectionUploadLimit">
            <option value="LIMIT_100MB"  <%= (data["DataCollectionRules"]["UploadMonthlyLimit"] == "LIMIT_100MB") ? "selected" : "" %> >100 MB</option>
            <option value="LIMIT_50MB"  <%= (data["DataCollectionRules"]["UploadMonthlyLimit"] == "LIMIT_50MB") ? "selected" : "" %> >50 MB</option>
            <option value="LIMIT_10MB" <%= (data["DataCollectionRules"]["UploadMonthlyLimit"] == "LIMIT_10MB") ? "selected" : "" %> >10 MB</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Device Offline Rules</h3>
        </td>
      </tr>
      <tr>
        <td>Minutes To Medium</td>
        <td><input type="text" name="minutesToMedium" value=<%= data["DeviceOfflineRules"]["MinutesToMedium"] %>></td>
      </tr>
      <tr>
        <td>Minutes To High</td>
        <td><input type="text" name="minutesToHigh" value=<%= data["DeviceOfflineRules"]["MinutesToHigh"] %>></td>
      </tr>
      <tr>
        <td>
          <h3>Features</h3>
        </td>
      </tr>
      <tr>
        <td>App Malware Check (Android Only)</td>
        <td>
          <select name="appMalwareEnabled" id="appMalwareEnabled">
            <option value="ENABLED" <%= (data["Features"]["AppMalware_Enabled"] == "ENABLED") ? "selected" : "" %> >Enabled</option>
            <option value="DISABLED" <%= (data["Features"]["AppMalware_Enabled"] == "DISABLED") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>App Sideload Check</td>
        <td>
          <select name="appSideloadEnabled" id="appSideloadEnabled">
            <option value="ENABLED" <%= (data["Features"]["AppSideload_Enabled"] == "ENABLED") ? "selected" : "" %> >Enabled</option>
            <option value="DISABLED" <%= (data["Features"]["AppSideload_Enabled"] == "DISABLED") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Device Security Check</td>
        <td>
          <select name="deviceSecurityEnabled" id="deviceSecurityEnabled">
            <option value="ENABLED" <%= (data["Features"]["DeviceSecurity_Enabled"] == "ENABLED") ? "selected" : "" %> >Enabled</option>
            <option value="DISABLED" <%= (data["Features"]["DeviceSecurity_Enabled"] == "DISABLED") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Device Software Check</td>
        <td>
          <select name="deviceSoftwareEnabled" id="deviceSoftwaredEnabled">
            <option value="ENABLED" <%= (data["Features"]["DeviceSoftware_Enabled"] == "ENABLED") ? "selected" : "" %> >Enabled</option>
            <option value="DISABLED" <%= (data["Features"]["DeviceSoftware_Enabled"] == "DISABLED") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Safe Browsing Check</td>
        <td>
          <select name="safeBrowsingEnabled" id="safeBrowsingEnabled">
            <option value="ENABLED" <%= (data["Features"]["SafeBrowsing_Enabled"] == "ENABLED") ? "selected" : "" %> >Enabled</option>
            <option value="DISABLED" <%= (data["Features"]["SafeBrowsing_Enabled"] == "DISABLED") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Safe Messaging Check</td>
        <td>
          <select name="safeMessagingEnabled" id="safeMessagingEnabled">
            <option value="ENABLED" <%= (data["Features"]["SafeMessaging_Enabled"] == "ENABLED") ? "selected" : "" %> >Enabled</option>
            <option value="DISABLED" <%= (data["Features"]["SafeMessaging_Enabled"] == "DISABLED") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Device Offline Check</td>
        <td>
          <select name="deviceOfflineEnabled" id="deviceOfflineEnabled">
            <option value="ENABLED" <%= (data["Features"]["DeviceOffline_Enabled"] == "ENABLED") ? "selected" : "" %> >Enabled</option>
            <option value="DISABLED" <%= (data["Features"]["DeviceOffline_Enabled"] == "DISABLED") ? "selected" : "" %> >Disabled</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Save"></td>
      </tr>
    </table>
  </form>
</body>

</html>
